@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: var(--black);
}

:root {
  --primary: #7300ff;
  --dark-bg: #1a0b28;
  --white: #ffffff;
  --glass: #594d5b;
  --star-color: #ffc700;
  --black: #000000;
}

.dark {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
  --card: var(--card-dark);
  --card-foreground: var(--card-foreground-dark);
  --border: var(--border-color);
  --input: var(--input-color);
}

@layer base {
  * {
    border-color: var(--border-color);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  .card {
    background-color: var(--card);
    color: var(--card-foreground);
  }

  .input {
    border: 1px solid var(--border);
    background-color: var(--input);
  }

  .button {
    background-color: var(--primary);
    color: var(--white);
    border-radius: var(--radius);
    padding: 0.5rem 1rem;
  }

  .button:hover {
    background-color: var(--star-color);
  }
}
